.Home {
    text-align: center;
    padding: 20px;
    padding-bottom: 8rem;
    margin: 0% 10%;
}

.Home .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff9800;
}

.Home .characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.Home .character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background: #222;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    color: aliceblue;
}

.Home .character-card:hover {
    transform: scale(1.05);
}

.Home .character-image {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    object-fit: cover;
    margin: 4px 0px 0px;
    /* top: 4px, right: 0, bottom: 0, left: 0 */
}

.Home .character-name {
    font-size: 1.2rem;
    margin-top: 10px;
    color: aliceblue;
}